*{
    border: border-box;
    margin: 0;
    font-family:Arial;
    font-size: 16px;
}
html{
    scrollbar-width: none;

}

body{
    background-color: rgb(12, 12, 12);
    color:#fff;
}

/* nAVBAR */
.navbar{
    height: 70px;
    width: 100%;
    background-color: black;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar-left{
    height: 70px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-right{
    height: 70px;
    width:20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.bars{
    color: white;
    font-size: 24px;
    padding-left: 10px;
}

.aniwatch-logo{
    background-image: url("aniwatch_logo.png");
    background-size: cover;
    height: 40px;
    width: 121px;
    margin-left: 1vw;
}

/* Social media icons */

.social-media{
    height: 40px;
    width: 13rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 2vw;
}

.join-now{
    width: 38px;
    padding: 6px 0px 6px 0px;
    filter: contrast(40%);
    font-weight:500;
    margin-right: 15px;
}

.social-media-links{
    height: 40px;
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div-of-icons{
    height: 34px;
    width: 32px;
    margin-right: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#discord{
    height: 34px;
    width: 32px;
    background-color: #6F85D5;
}
#telegram{
    height: 34px;
    width: 32px;
    background-color: #0088CC;
}
#reddit{
    height: 34px;
    width: 32px;
    background-color: #FF3C1F;
}
#twitter{
    height: 34px;
    width: 32px;
    background-color: #1d9df0;
}

/* <!-- FOUR TOGGELS  --> */

.toggles{
    height:40px;
    width:25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
    margin-left: 2vw;

}
.toggles-items{
    height: 40px;
    color: #ffffff;
    margin: 0px 20px 0px 0px;
}

.toggles-items span{
    font-size: 13px;
}

.toggles-items-designs{
    height: 20px;
    color: #ffdd95;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: larger;
    font-weight: 600;
}

.lang{
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    
}

.eng{
    background-color: #ffdd95;
    color: #111111;
    height: 18px;
    width: 26px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jp{
    background-color: gray;
    height: 18px;
    width: 26px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Right side icons */

.right-side-icons{
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

.right-icons{
    height: 30px;
    width: 30px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;

}

#profile{
    background-image:url("profile\ img.png");
    background-size: cover;

}

/* Hero Section */

.hero-section{
    height: 88vh;
    width: 100%;  
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    
}

.anime-info{
    height:16rem;
    width: 42rem;
    color: #ffffff;
    padding-left: 40px;
    position: absolute;
    top: 52vh;
    left: 0px;
    z-index:2;
}
.spotlite{
    height: 14px;
    width: 100%;
    color: #ffdd95;
    filter: contrast(200%);
    margin-bottom: 20px;
}
.anime-title {
    height: 6.2vh;
    width: 100%;
    font-size: 2.3vw;
    margin-bottom: 24px;
    font-weight: 550;
}
.anime-details {
    display: flex;
    justify-content: flex-start;
    align-content: baseline;
    height: 6.2vh;
    width: 100%;
    margin-bottom: 12px;
}

.tv{
    margin: 0px 15px 5px 0px;
}
.tv i{
    font-size: 12.5px;
}
.length{
    margin: 0px 15px 5px 0px;   
}
.length i{
    font-size: 12.5px;
}
.date {
    margin: 0px 15px 5px 0px;
}
.date i{
    font-size: 12.5px;
}

.hd {
    margin: 0px 8px 5px 0px;
    height: 24px;
    width: 25px;
}
.hd span{
    font-size: 12px;
    background-color: #ffdd95;
    color: #111111;
    padding: 3px 4px;
    font-weight: 700;
    border-radius: 23%;
}
.sub-dub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 81px;
    
}
.sub{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    color: #111111;
    background-color: #b0e3af;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    padding: 0px 6px;
}
.sub i{
    font-size: 12px;
    padding-right: 3px;
}
.dub{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    color: #111111;
    background-color: #e3b5cd;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    padding: 0px 6px;
    margin-left: 2px;

}
.dub i{
    font-size: 12px;
    padding-right: 3px;
}
.about-anime {
    height: 8vh;
    width: 100%;
    margin-bottom: 32px;
}
.hero-section-buttons {
    height: 6.8vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(45, 43, 43); */
}
.watchnow {
    height: 60%;
    width: 7.5vw;
    background-color: #ffdd95;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 16px;
    margin-right: 8px;
    font-size: .9rem;
    color: #111111;
    border-radius: 30px;
}
.watchnow i{
    font-size: .8rem;
}
.details {
    height: 60%;
    width: 5.5vw;
    background-color: #56565b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 16px;
    margin-right: 8px;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 30px;
    font-weight: 500;
}
.details i{
    font-size: .9rem;
} 

.hero-section-image{
    height: 88vh;
    width: 79vw;
    background-image: url("hero-section-image.jpg");
    background-size: cover;
    z-index: 1;
    position: absolute;
    right: 0;  
}
.hero-section-image::before {
    content: "";
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #242428; /* fallback color */
    background: linear-gradient(0deg, #242428 0, rgba(36, 36, 40, 0) 50%, #242428 100%);
    background: radial-gradient(ellipse, rgba(0, 0, 0, 0) 0%, #000 75%);
}

.anime-trending {
    height: 72vh;
    width: 93%;
    margin: 10vh 4.5vh 10vh 4.5vh;
    padding: 0vh 1.7vh 0vh 1.7vh;

}
.trending-header {
    height: 10%;
    width: 100%;
    margin-bottom: 24px;
    color: #ffdd95;
}
.anime-boxes {
    width: 100%;
    height: 82%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 

.trending-name-num{
    height: 100%;
    width: 5%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    font-weight:600;
}
.trending-name-num span{
    height: 20px;
    width: 40px;
    font-size: 20px;
    font-weight: 700; 
    color: #ffdd95;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.name-1 {
    height: 40px;
    width: 150px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    transform: rotate(-90deg);
    margin-bottom: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    
}

.trending-photo{
    height: 100%;
    width: 20%;
    background-size: cover;
}

.share-container{
    width: 97.5%;
    height: 108px;
    padding: 0px 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.share-girl-gif{
    background-image: url("/share-icon.gif");
    background-size: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-right: 1rem;
}

.share-items{
    height: 8.5vh;
    width: 11vw;
    margin-right: 1rem;
    line-height: 25px;
}
.share-items span{
    font-size: 14px;
    color: #ffdd95;
    font-weight: 700;
}

.discussion{
    height:20vh;
    width:50%;
    margin-bottom:2rem;
}
.comment-container-1st{
    height: 100%;
    width: 96.3vw;
    padding: 0px 15px;
    background-color:#2f2f33;
}

.comment-contianer-2nd{
    height: 82%;
    width: 100%;
    padding-top: 20px;
}

.display-toggle {
    position:relative;
    top:30px;
    left:84vw;
    display: inline-flex;
    align-items: center;
}
.toggle-text {
    display: inline;
    margin-right: 0.5rem;
}
.toggle-button{
    height: 16px;
    width: 32px;
    background: #ffffff33;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
}

.toggle-button span{
    height: 16px;
    width: 16px;
    background: #ffdd95;
    border-radius: 50%;
}

.toggle-button span:active{
    transform: translateX(18px);
}

.new-top-comments{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    border: 0;
}


.item{
    height: 2rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffdd95;
    font-weight: 500;
    margin-right: .5rem;
    border: 2px solid #ffdd95;
    border-radius: 20px;
}

.social-2{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer-az{
    width: 100%;
    height: 6.5rem;
    margin-bottom: 16px;
}

.atoz{
    margin-bottom: 16px;
}
.one{
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.az-list{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left:10px;
}

.az-list li{
    font-size: 17.6px;
    background: #ffffff2a;
    padding: 6.4px 9.6px;
    margin: 4px;
    border-radius: 8px;
    font-weight: 700;
}

.az-list li:hover{
    background: #ffdd95;
    color: #000;
}
.clear-fix{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
}

.clear-fix a{
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
}

.about-text{
    padding-left: 10px;
    margin-bottom: 5px;
    filter: contrast(.2);
}

.copyright{
    padding-left: 10px;
    padding-bottom: 32px;
    filter: contrast(.2);
}